<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ebsoft.ebstudytemplates3week.domain.board.dao.BoardRepository">

  <!--  게시판 생성-->
  <insert id="writeBoard" parameterType="BoardWriteDto">
    INSERT INTO t_board
    VALUES ( NULL, #{categoryId}, #{user}, SHA2(#{password}, 256), #{title}
           , #{content}, DEFAULT, #{createdTime}, #{updatedTime})
  </insert>

  <!-- id로 게시판 조회-->
  <resultMap id="board" type="BoardDto">
    <id property="boardId" column="board_id"/>
    <result property="user" column="user"/>
    <result property="password" column="password"/>
    <result property="title" column="title"/>
    <result property="content" column="content"/>
    <result property="viewCount" column="view_count"/>
    <result property="createdTime" column="created_time"/>
    <result property="updatedTime" column="updated_time"/>
    <association property="category" column="category_id" javaType="CategoryDto">
      <id property="categoryId" column="category_id"/>
      <result property="categoryName" column="category_name"/>
    </association>
  </resultMap>

  <select id="findBoardById" resultMap="board">
    SELECT b.*,
           (SELECT c.category_name
            FROM t_category c
            WHERE c.category_id = b.category_id) as category_name
    FROM t_board b
    WHERE b.board_id = #{boardId}
  </select>

  <!-- 조회수 증가-->
  <update id="addView">
    UPDATE t_board
    SET view_count = view_count + 1
    WHERE #{boardId}
  </update>
</mapper>