<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ebsoft.ebstudytemplates3week.domain.category.dao.CategoryRepository">

  <select id="findAllCategories" resultType="CategoryDto">
    SELECT category_id   as categoryid,
           category_name as categoryname
    FROM t_category
  </select>
</mapper>